<!doctype html>
<html lang="en">
<head id="head">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico')}}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include "partials/metadata.html" %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    {% include "partials/css.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<header class="navbar navbar-expand navbar-drak flex-column flex-md-row bd-navbar pb-3" id="top-navbar">
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="navbar-brand" href="{{url_for('index')}}">KaMI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link under-link" href="https://gitlab.inria.fr/dh-projects/kami/kami-lib" target="_blank">Running with kamilib {{ kami_version }}</a>
            </li>
        </ul>
    </div>
</header>

<div class="row">
    <div class="col">
        {% block body %}{% endblock %}
    </div>
</div>

<footer id="bottom-footer" class="py-5">
    <div class="container text-center">
        <span>
          <a href="https://gitlab.inria.fr/dh-projects/kami/" target="_blank">
            <i class="fab fa-gitlab"></i></i> KaMI on Gitlab</a>
        </span>
        <br>
        <p id="copyright">© 2022. This work is under MIT License.</p>
    </div>
</footer>

{% block script%}{% endblock %}
</body>
</html>
